body{
    margin:0;
    padding:10px;
    background:#1f1f1f;
    font-family:"Segoe UI",Arial,sans-serif;
    color:white;
}

.container{
    width:295px;
    margin:auto;
    text-align:center;
}

.logo{
    width:48px;
    margin-bottom:4px;
}

h1{
    margin:2px 0;
    color:#4DA3FF;
    font-size:21px;
    font-weight:700;
    letter-spacing:2px;
}

.subtitle{
    color:#C6C6C6;
    font-size:13px;
    margin-bottom:12px;
}

.button{
    display:block;
    text-decoration:none;
    background:#0078D4;
    color:white;
    padding:9px;
    margin-bottom:6px;
    border-radius:8px;
    font-size:14px;
    font-weight:600;
    transition:0.18s;
}

.button:hover{
    background:#005A9E;
}

.footer{
    margin-top:10px;
    color:#7E7E7E;
    font-size:10px;
}
